/*==========================================
=            Bootstrap override            =
==========================================*/


/*=====  End of Bootstrap override  ======*/

body {
    background: #F1F1F1;
}

.products {
    &-item {
        border-bottom: 1px solid #F1F1F1;
        border-right: 1px solid #F1F1F1;
        padding-bottom: 11px;
        padding-top: 1px;
        background: #fff;
        /*-------------*/
        &:hover {
            box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.38);
            position: relative;
            z-index: 1;
        }
        &-date {
            position: absolute;
            top: 5px;
            right: 8px;
        }
        &-img {
            width: 54%;
            float: left;
            margin-right: 14px;
        }
        &-more {
            margin-top: 10px;
        }
        &-cart {
            float: right;
            margin-top: 10px;
        }
        &-price {
            clear: both;
            text-align: right;
            width: 100%;
            margin-top: 6px;
            font-size: 23px;
            /*---*/
            &:after {
                content: ' din';
            }
        }
    }
}


/*----------  Utility classes  ----------*/
