/*==========================================
=            Bootstrap override            =
==========================================*/
.dropup .dropdown-menu {
  left: -48px; }

/*=====  End of Bootstrap override  ======*/
body {
  background: #F1F1F1;
  overflow: hidden; }

#main_content_container {
  height: 100%;
  padding-top: 52px; }

/*===========================
=            Nav            =
===========================*/
#navbar-cart_view {
  padding: 8px 0; }
  #navbar-cart_view-totalCost {
    font-size: 19px;
    color: #1CB91C;
    position: relative;
    top: -2px; }
    #navbar-cart_view-totalCost:after {
      content: ' din'; }
  #navbar-cart_view-totalCount {
    font-size: 18px;
    position: relative;
    top: -4px;
    padding-left: 2px; }
    #navbar-cart_view-totalCount:after {
      content: ')'; }
    #navbar-cart_view-totalCount:before {
      content: '('; }
  #navbar-cart_view-link {
    display: inline; }
    #navbar-cart_view-link:hover {
      color: #337AB7 !important; }
      #navbar-cart_view-link:hover .glyphicon {
        color: #337AB7 !important; }
  #navbar-cart_view .glyphicon {
    font-size: 23px;
    padding-top: 3px;
    color: #777; }
  #navbar-cart_view .dropdown-toggle {
    padding: 15px 10px 15px 7px; }
  #navbar-cart_view .mini_cart-item {
    font-size: 15px;
    padding: 3px 11px; }
  #navbar-cart_view .mini_cart-message {
    text-align: center;
    color: #FF6060; }
  #navbar-cart_view .mini_cart-name {
    font-weight: bold;
    padding-right: 32px; }
  #navbar-cart_view .mini_cart-price {
    padding-right: 5px; }
    #navbar-cart_view .mini_cart-price:after {
      content: ' din'; }
  #navbar-cart_view .mini_cart-quantity {
    color: #1CB91C; }
    #navbar-cart_view .mini_cart-quantity:before {
      content: '('; }
    #navbar-cart_view .mini_cart-quantity:after {
      content: ')'; }
  #navbar-cart_view .mini_cart li {
    border-bottom: 1px solid #ECECEC; }
    #navbar-cart_view .mini_cart li:last-child {
      border: none; }

/*=====  End of Nav  ======*/
.products-item {
  border-bottom: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
  padding-bottom: 11px;
  padding-top: 1px;
  background: #fff;
  /*-------------*/ }
  .products-item:hover {
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.38);
    position: relative;
    z-index: 1; }
  .products-item-date {
    position: absolute;
    top: 5px;
    right: 8px; }
  .products-item-img {
    width: 54%;
    float: left;
    margin-right: 14px; }
  .products-item-more {
    margin-top: 10px; }
  .products-item-cart {
    float: right;
    margin-top: 10px; }
    .products-item-cart-popup {
      min-width: auto;
      padding: 5px 8px; }
      .products-item-cart-popup input {
        min-width: 82px;
        height: 34px; }
      .products-item-cart-popup .input-group-btn button {
        padding: 9px 12px; }
  .products-item-price {
    clear: both;
    text-align: right;
    width: 100%;
    margin-top: 6px;
    font-size: 23px;
    /*---*/ }
    .products-item-price:after {
      content: ' din'; }

/*============================
=            Cart            =
============================*/
#cart-main_box {
  height: 100%;
  overflow: auto;
  padding-top: 20px; }

.cart-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
  position: relative;
  /****/ }
  .cart-item:nth-child(n+2) {
    margin-top: 20px; }
  .cart-item-img {
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 176px; }
  @media (min-width: 768px) {
    .cart-item-heading {
      margin-top: 0; } }
  @media (max-width: 768px) {
    .cart-item-desc {
      padding-bottom: 33px; } }
  .cart-item-price_box {
    padding-right: 0; }
  .cart-item-remove_button {
    position: absolute;
    top: 0px;
    right: 15px;
    box-shadow: 0 0 41px 0 rgba(241, 241, 241, 0.74) inset;
    border-radius: 4px;
    padding: 0px 1px 2px 1px; }
  .cart-item-price {
    text-align: right;
    position: absolute;
    right: 15px;
    bottom: 0; }
    .cart-item-price_total {
      font-size: 30px;
      text-align: right;
      clear: both;
      border-top: 1px solid #aaa;
      margin-top: 13px;
      color: #69B330; }
      .cart-item-price_total:after {
        content: ' din'; }
    .cart-item-price-value {
      font-size: 21px;
      top: 4px;
      position: relative;
      padding-right: 5px;
      /****/ }
      .cart-item-price-value:after {
        content: 'x';
        padding-left: 7px;
        position: relative;
        top: -1px;
        color: #BBB; }
    .cart-item-price-input {
      width: 40px;
      display: inline; }
    .cart-item-price-dropup {
      float: right;
      position: relative;
      top: 1px;
      /**/ }
      .cart-item-price-dropup > button {
        background: #fff;
        color: #333;
        border: 1px solid #ccc; }
    .cart-item-price-popup {
      left: -122px !important;
      padding: 5px 7px; }
      .cart-item-price-popup input {
        height: 34px; }
      .cart-item-price-popup .input-group-btn button {
        padding: 9px 12px; }

/*=====  End of Cart  ======*/
/*----------  Utility classes  ----------*/

/*# sourceMappingURL=main.css.map */
