/*==========================================
=            Bootstrap override            =
==========================================*/
.dropup .dropdown-menu {
  left: -48px; }

/*=====  End of Bootstrap override  ======*/
body {
  background: #F1F1F1;
  overflow: hidden; }

#main_content_container {
  height: 100%;
  padding-top: 52px;
  position: relative; }

/*===========================
=            Nav            =
===========================*/
#navbar-cart_view {
  padding: 8px 11px; }
  #navbar-cart_view a {
    padding: 7px 12px; }
  #navbar-cart_view-totalCost {
    font-size: 19px;
    color: #1CB91C;
    position: relative;
    top: -2px; }
    #navbar-cart_view-totalCost:after {
      content: ' din'; }
  #navbar-cart_view-totalCount {
    font-size: 18px;
    position: relative;
    top: -4px;
    padding-left: 2px; }
    #navbar-cart_view-totalCount:after {
      content: ')'; }
    #navbar-cart_view-totalCount:before {
      content: '('; }
  #navbar-cart_view-link {
    display: inline; }
    #navbar-cart_view-link:hover {
      color: #337AB7 !important; }
      #navbar-cart_view-link:hover .glyphicon {
        color: #337AB7 !important; }
  #navbar-cart_view .glyphicon {
    font-size: 23px;
    padding-top: 3px;
    color: #777; }
  #navbar-cart_view .dropdown-toggle {
    padding: 15px 10px 15px 7px; }
  #navbar-cart_view .mini_cart-item {
    font-size: 15px;
    padding: 3px 11px; }
  #navbar-cart_view .mini_cart-message {
    text-align: center;
    color: #FF6060; }
  #navbar-cart_view .mini_cart-name {
    font-weight: bold;
    padding-right: 32px; }
  #navbar-cart_view .mini_cart-price {
    padding-right: 5px; }
    #navbar-cart_view .mini_cart-price:after {
      content: ' din'; }
  #navbar-cart_view .mini_cart-quantity {
    color: #1CB91C; }
    #navbar-cart_view .mini_cart-quantity:before {
      content: '('; }
    #navbar-cart_view .mini_cart-quantity:after {
      content: ')'; }
  #navbar-cart_view .mini_cart li {
    border-bottom: 1px solid #ECECEC; }
    #navbar-cart_view .mini_cart li:last-child {
      border: none; }
  #navbar-cart_view #logout_dropdown {
    min-width: auto; }
    #navbar-cart_view #logout_dropdown input {
      color: #777;
      background: transparent;
      border: none; }
    #navbar-cart_view #logout_dropdown form {
      margin-bottom: 0; }
  #navbar-cart_view #navbar-username_dropdown {
    margin-right: 11px; }
  #navbar-cart_view #navbar-username_preview {
    padding: 7px 10px 7px 12px; }
    #navbar-cart_view #navbar-username_preview .username {
      text-transform: capitalize;
      padding-right: 4px;
      font-size: 15px; }

/*=====  End of Nav  ======*/
.products-item {
  border-bottom: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
  padding-bottom: 11px;
  padding-top: 1px;
  background: #fff;
  max-height: 321px;
  min-height: 321px;
  overflow: hidden;
  /*-------------*/ }
  .products-item > h4 {
    height: 19px;
    overflow: hidden; }
  .products-item:hover {
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.38);
    position: relative;
    z-index: 1; }
  .products-item-head {
    padding-left: 14px; }
    .products-item-head h4 {
      max-width: 56%;
      float: left; }
  .products-item-category {
    padding: 6px 11px 6px 11px;
    border-radius: 0 0 0 7px;
    color: #777;
    float: right;
    max-width: 44%;
    margin-bottom: 14px;
    text-align: right;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(46, 109, 164, 0.29);
    box-shadow: 0 0 8px 0px rgba(51, 51, 51, 0.16);
    text-transform: uppercase; }
  .products-item-text_img {
    overflow: hidden;
    height: 189px; }
  .products-item-img {
    width: 54%;
    float: left;
    margin-right: 14px; }
  .products-item-more {
    margin-top: 10px; }
  .products-item-options {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0 13px; }
  .products-item-cart {
    float: right;
    margin-top: 10px; }
    .products-item-cart-popup {
      min-width: auto;
      padding: 5px 8px; }
      .products-item-cart-popup input {
        min-width: 82px;
        height: 34px; }
      .products-item-cart-popup .input-group-btn button {
        padding: 9px 12px; }
  .products-item-price {
    clear: both;
    text-align: right;
    width: 100%;
    margin-top: 6px;
    font-size: 23px;
    /*---*/ }
    .products-item-price:after {
      content: ' din'; }

/*============================
=            Cart            =
============================*/
#cart-total_box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto; }
  #cart-total_box-price {
    background: white;
    float: right;
    box-shadow: 0 0 6px 1px #777777;
    border-radius: 3px 3px 0 0;
    padding: 8px 19px 10px; }
    @media (max-width: 768px) {
      #cart-total_box-price {
        width: 100%; } }
    #cart-total_box-price-value {
      font-size: 30px;
      text-align: right;
      color: #616161;
      margin-bottom: 5px; }
    #cart-total_box-price-options {
      text-align: right; }

.cart-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
  position: relative;
  /****/ }
  .cart-item:nth-child(n+2) {
    margin-top: 20px; }
  .cart-item-img {
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 176px; }
  @media (min-width: 768px) {
    .cart-item-heading {
      margin-top: 0; } }
  @media (max-width: 768px) {
    .cart-item-desc {
      padding-bottom: 78px; } }
  .cart-item-price_box {
    padding-right: 0; }
  .cart-item-remove_button {
    position: absolute;
    top: 0px;
    right: 15px;
    box-shadow: 0 0 41px 0 rgba(241, 241, 241, 0.74) inset;
    border-radius: 4px;
    padding: 0px 1px 2px 1px; }
  .cart-item-price {
    text-align: right;
    position: absolute;
    right: 15px;
    bottom: 0; }
    .cart-item-price_total {
      font-size: 27px;
      text-align: right;
      clear: both;
      border-top: 1px solid #aaa;
      margin-top: 13px;
      color: #69B330; }
      .cart-item-price_total:after {
        content: ' din'; }
    .cart-item-price-value {
      font-size: 21px;
      top: 4px;
      position: relative;
      padding-right: 5px;
      /****/ }
      .cart-item-price-value:after {
        content: 'x';
        padding-left: 7px;
        position: relative;
        top: -1px;
        color: #BBB; }
    .cart-item-price-input {
      width: 40px;
      display: inline; }
    .cart-item-price-dropup {
      float: right;
      position: relative;
      top: 1px;
      /**/ }
      .cart-item-price-dropup > button {
        background: #fff;
        color: #333;
        border: 1px solid #ccc; }
    .cart-item-price-popup {
      left: -122px !important;
      padding: 5px 7px; }
      .cart-item-price-popup input {
        height: 34px; }
      .cart-item-price-popup .input-group-btn button {
        padding: 9px 12px; }

/*=====  End of Cart  ======*/
/*=============================
=            Login            =
=============================*/
#login-main_box {
  height: 100%;
  overflow: auto;
  padding-top: 20px; }
#login-input_box {
  margin-top: 211px;
  background: #fff;
  box-shadow: 0px 2px 2px 0 #afadad;
  padding: 21px 18px 2px; }
  #login-input_box-username_box {
    margin-bottom: 22px; }
  #login-input_box-register {
    text-align: center;
    padding-bottom: 4px; }
#login-login_button {
  padding: 6px 21px;
  margin-top: 11px; }

/*----------  Register  ----------*/
#register-main_box {
  height: 100%;
  overflow: auto;
  padding-top: 20px; }
#register-input_box {
  margin-top: 211px;
  background: #fff;
  box-shadow: 0px 2px 2px 0 #afadad;
  padding: 21px 18px 2px; }
  #register-input_box-username_box {
    margin-bottom: 22px; }
#register-register_button {
  padding: 6px 21px;
  margin-top: 11px; }

/*=====  End of Login  ======*/
/*===================================
=            Admin panel            =
===================================*/
.admin_panel-wrapper,
.stor_manager-wrapper {
  padding: 0 0 0 250px !important;
  transition: all 0.5s ease; }
  .admin_panel-wrapper.toggled,
  .stor_manager-wrapper.toggled {
    padding: 0 !important; }
    .admin_panel-wrapper.toggled #admin_panel-sidebar-toggle-right,
    .stor_manager-wrapper.toggled #admin_panel-sidebar-toggle-right {
      display: block; }
    .admin_panel-wrapper.toggled #admin_panel-sidebar-toggle-left,
    .stor_manager-wrapper.toggled #admin_panel-sidebar-toggle-left {
      display: none; }
    .admin_panel-wrapper.toggled #admin_panel-sidebar,
    .stor_manager-wrapper.toggled #admin_panel-sidebar {
      left: -250px; }

.admin_panel-products-delete_box {
  position: relative; }
.admin_panel-products-delete_popup {
  right: 100%;
  left: auto;
  top: -11px;
  min-width: auto;
  width: 104px;
  padding: 8px 0;
  text-align: center; }

#admin_panel,
#stor_manager {
  /*----------  Sidebar  ----------*/ }
  #admin_panel-content_box,
  #stor_manager-content_box {
    width: 100%;
    height: 100%; }
    #admin_panel-content_box h2,
    #stor_manager-content_box h2 {
      margin-top: 0;
      margin-bottom: 20px; }
  #admin_panel-sidebar,
  #stor_manager-sidebar {
    position: fixed;
    background: #333;
    top: 51px;
    left: 0;
    height: 100%;
    width: 250px;
    transition: all 0.5s ease; }
    #admin_panel-sidebar-toggle,
    #stor_manager-sidebar-toggle {
      font-size: 27px;
      position: absolute;
      bottom: 56px;
      right: -29px;
      cursor: pointer;
      width: 62px; }
      #admin_panel-sidebar-toggle-left,
      #stor_manager-sidebar-toggle-left {
        transition: all 0.5s ease;
        color: #fff;
        float: left; }
      #admin_panel-sidebar-toggle-right,
      #stor_manager-sidebar-toggle-right {
        transition: all 0.5s ease;
        float: right;
        display: none; }
    #admin_panel-sidebar-header,
    #stor_manager-sidebar-header {
      color: #999999;
      padding: 6px 0 0 19px; }
    #admin_panel-sidebar-nav,
    #stor_manager-sidebar-nav {
      /*position: absolute;*/
      top: 0;
      width: 250px;
      margin: 0;
      padding: 0;
      list-style: none; }
      #admin_panel-sidebar-nav .sidebar-nav_item,
      #stor_manager-sidebar-nav .sidebar-nav_item {
        text-indent: 20px;
        line-height: 40px; }
        #admin_panel-sidebar-nav .sidebar-nav_item-link,
        #stor_manager-sidebar-nav .sidebar-nav_item-link {
          display: block;
          text-decoration: none;
          color: #999999; }
          #admin_panel-sidebar-nav .sidebar-nav_item-link.active,
          #stor_manager-sidebar-nav .sidebar-nav_item-link.active {
            background: #f1f1f1 !important;
            color: #333 !important; }
          #admin_panel-sidebar-nav .sidebar-nav_item-link:hover,
          #stor_manager-sidebar-nav .sidebar-nav_item-link:hover {
            text-decoration: none;
            color: #fff;
            background: rgba(255, 255, 255, 0.2); }
          #admin_panel-sidebar-nav .sidebar-nav_item-link .glyphicon,
          #stor_manager-sidebar-nav .sidebar-nav_item-link .glyphicon {
            margin-left: -19px;
            padding-right: 10px; }

#admin_panel {
  /*----------  Products  ----------*/
  /*----------  Categories  ----------*/
  /*----------  Customers  ----------*/ }
  #admin_panel-content_box.content_box-admin_panel_products, #admin_panel-content_box.content_box-admin_panel-users {
    padding-bottom: 6px; }
  #admin_panel-content_box #categories-add-button {
    top: 0; }
  #admin_panel-products {
    padding: 13px 20px 0; }
    #admin_panel-products tbody tr {
      background: #f5f5f5; }
    #admin_panel-products .admin_panel-products-col-desc {
      width: 58%; }
    #admin_panel-products .admin_panel-products-col-edit, #admin_panel-products .admin_panel-products-col-delete {
      vertical-align: middle;
      text-align: center;
      width: 51px;
      padding: 0 0px; }
    #admin_panel-products .admin_panel-product-disabled {
      background: rgba(217, 83, 79, 0.08); }
  #admin_panel-categories {
    height: 100%;
    padding: 10px 6px; }
    #admin_panel-categories tbody tr {
      background: #f5f5f5; }
    #admin_panel-categories-page_size_option {
      width: 67px;
      float: right; }
    #admin_panel-categories .categories-col-edit {
      width: 108px;
      text-align: right; }
    #admin_panel-categories .categories-col-remove {
      width: 59px;
      text-align: right; }
    #admin_panel-categories .categories-item {
      /*=====  Edit mode od category name  ======*/ }
      #admin_panel-categories .categories-item-form {
        margin-bottom: 0; }
      #admin_panel-categories .categories-item-name-input {
        width: 50%;
        display: none; }
      #admin_panel-categories .categories-item-edit-yes, #admin_panel-categories .categories-item-edit-no {
        display: none; }
      #admin_panel-categories .categories-item-disabled {
        background: rgba(217, 83, 79, 0.08); }
      #admin_panel-categories .categories-item.categories-item-edit_button-edited .categories-item-name-value {
        display: none; }
      #admin_panel-categories .categories-item.categories-item-edit_button-edited .categories-item-name-input {
        display: block !important; }
      #admin_panel-categories .categories-item.categories-item-edit_button-edited .categories-item-edit_button {
        display: none; }
      #admin_panel-categories .categories-item.categories-item-edit_button-edited .categories-item-edit-yes, #admin_panel-categories .categories-item.categories-item-edit_button-edited .categories-item-edit-no {
        display: inline-block; }
    #admin_panel-categories .categories-add {
      background: #f1f1f1;
      border-top: 2px solid #c5c5c5; }
      #admin_panel-categories .categories-add #categories-add-button {
        top: 0; }
    #admin_panel-categories-items {
      height: 100%; }
  #admin_panel-customers {
    padding: 13px 20px 0; }
    #admin_panel-customers-page_size_option {
      width: 70px;
      float: right; }
    #admin_panel-customers tbody tr {
      background: #f5f5f5; }
      #admin_panel-customers tbody tr td {
        vertical-align: middle; }
    #admin_panel-customers .customers-role_name {
      text-transform: capitalize; }
      #admin_panel-customers .customers-role_name:last-child:after {
        content: ''; }
      #admin_panel-customers .customers-role_name:after {
        content: ', '; }
    #admin_panel-customers .customers-column-edit {
      width: 154px; }
    #admin_panel-customers .customers-column-delete {
      width: 57px; }

/**
 *
 * Edit customer modal panel
 *
 */
#customers-edit_panel .customers-edit_panel-status {
  float: left;
  padding: 0 9px;
  text-align: center; }

/*=====  End of Admin panel  ======*/
/*----------  General Classes  ----------*/
.page-main_box {
  height: 100%;
  padding-top: 20px; }
  @media (max-width: 768px) {
    .page-main_box {
      overflow: auto; } }

/*----------  Utility classes  ----------*/
.vertical-middle {
  vertical-align: middle !important; }

.clear {
  clear: both; }

.overflow-auto {
  overflow: auto; }

.height-100 {
  height: 100%; }

/*==================================
=            Pagination            =
==================================*/
.pagination {
  height: 100%;
  margin: 0;
  padding: 9px 0 0;
  /**********/ }
  .pagination-height {
    height: 5% !important; }
  .pagination_content-height {
    height: 95% !important; }
  .pagination-item {
    height: 34px; }
  .pagination-separator {
    float: left;
    padding: 1px 4px;
    visibility: hidden; }
  .pagination-set {
    padding-bottom: 6px; }

/*=======================================
=            Custom elements            =
=======================================*/
.d-confirm_popup {
  position: relative; }
  .d-confirm_popup-popup {
    right: 100%;
    left: auto;
    top: -11px;
    min-width: auto;
    width: 104px;
    padding: 8px 0;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
