/*==========================================
=            Bootstrap override            =
==========================================*/

.dropup .dropdown-menu {
    left: -48px;
}


/*=====  End of Bootstrap override  ======*/

body {
    background: #F1F1F1;
    overflow: hidden;
}

#main_content_container {
    height: 100%;
    padding-top: 52px;
    position: relative;
}


/*===========================
=            Nav            =
===========================*/

#navbar-cart_view {
    padding: 8px 11px;
    &-totalCost {
        font-size: 19px;
        color: #1CB91C;
        position: relative;
        top: -2px;
        &:after {
            content: ' din';
        }
    }
    &-totalCount {
        font-size: 18px;
        position: relative;
        top: -4px;
        padding-left: 2px;
        &:after {
            content: ')';
        }
        &:before {
            content: '(';
        }
    }
    &-link {
        display: inline;
        &:hover {
            color: #337AB7!important;
            .glyphicon {
                color: #337AB7!important;
            }
        }
    }
    .glyphicon {
        font-size: 23px;
        padding-top: 3px;
        color: #777;
    }
    .dropdown-toggle {
        padding: 15px 10px 15px 7px;
    }
    .mini_cart {
        &-item {
            font-size: 15px;
            padding: 3px 11px;
        }
        &-message {
            text-align: center;
            color: #FF6060;
        }
        &-name {
            font-weight: bold;
            padding-right: 32px;
        }
        &-price {
            padding-right: 5px;
            &:after {
                content: ' din';
            }
        }
        &-quantity {
            color: #1CB91C;
            &:before {
                content: '(';
            }
            &:after {
                content: ')';
            }
        }
        li {
            border-bottom: 1px solid #ECECEC;
            &:last-child {
                border: none;
            }
        }
    }
}


/*=====  End of Nav  ======*/

#products {
    &-main_box {
        height: 100%;
        overflow: auto;
        padding-top: 20px;
    }
}

.products {
    &-item {
        border-bottom: 1px solid #F1F1F1;
        border-right: 1px solid #F1F1F1;
        padding-bottom: 11px;
        padding-top: 1px;
        background: #fff;
        /*-------------*/
        &:hover {
            box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.38);
            position: relative;
            z-index: 1;
        }
        &-date {
            position: absolute;
            top: 5px;
            right: 8px;
        }
        &-img {
            width: 54%;
            float: left;
            margin-right: 14px;
        }
        &-more {
            margin-top: 10px;
        }
        &-cart {
            float: right;
            margin-top: 10px;
            &-popup {
                min-width: auto;
                padding: 5px 8px;
                input {
                    min-width: 82px;
                    height: 34px;
                }
                .input-group-btn button {
                    padding: 9px 12px;
                }
            }
        }
        &-price {
            clear: both;
            text-align: right;
            width: 100%;
            margin-top: 6px;
            font-size: 23px;
            /*---*/
            &:after {
                content: ' din';
            }
        }
    }
}


/*============================
=            Cart            =
============================*/

#cart {
    &-main_box {
        height: 100%;
        overflow: auto;
        padding-top: 20px;
    }
    &-total_box {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        &-price {
            background: white;
            float: right;
            box-shadow: 0 0 6px 1px #777777;
            border-radius: 3px 3px 0 0;
            padding: 8px 19px 10px;
            @media (max-width: 768px) {
                width: 100%;
            }
            &-value {
                font-size: 30px;
                text-align: right;
                color: #616161;
                margin-bottom: 5px;
            }
            &-options {
                text-align: right;
            }
        }
    }
}

.cart {
    &-item {
        border-bottom: 1px solid #ccc;
        padding-bottom: 16px;
        position: relative;
        &:nth-child(n+2) {
            margin-top: 20px;
        }
        /****/
        &-img {
            background-size: contain;
            background-position: top center;
            background-repeat: no-repeat;
            width: 100%;
            height: 176px;
        }
        &-heading {
            @media (min-width: 768px) {
                margin-top: 0;
            }
        }
        &-desc {
            @media (max-width: 768px) {
                padding-bottom: 78px;
            }
        }
        &-price_box {
            padding-right: 0;
        }
        &-remove_button {
            position: absolute;
            top: 0px;
            right: 15px;
            box-shadow: 0 0 41px 0 rgba(241, 241, 241, 0.74) inset;
            border-radius: 4px;
            padding: 0px 1px 2px 1px;
        }
        &-price {
            text-align: right;
            position: absolute;
            right: 15px;
            bottom: 0;
            &_total {
                font-size: 27px;
                text-align: right;
                clear: both;
                border-top: 1px solid #aaa;
                margin-top: 13px;
                color: #69B330;
                &:after {
                    content: ' din';
                }
            }
            &-value {
                font-size: 21px;
                top: 4px;
                position: relative;
                padding-right: 5px;
                /****/
                &:after {
                    content: 'x';
                    padding-left: 7px;
                    position: relative;
                    top: -1px;
                    color: #BBB;
                }
            }
            &-input {
                width: 40px;
                display: inline;
            }
            &-dropup {
                float: right;
                position: relative;
                top: 1px;
                /**/
                > button {
                    background: #fff;
                    color: #333;
                    border: 1px solid #ccc;
                }
            }
            &-popup {
                left: -122px!important;
                padding: 5px 7px;
                input {
                    height: 34px;
                }
                .input-group-btn button {
                    padding: 9px 12px;
                }
            }
        }
    }
}


/*=====  End of Cart  ======*/


/*----------  Utility classes  ----------*/
