/*==========================================
=            Bootstrap override            =
==========================================*/

.dropup .dropdown-menu {
    left: -48px;
}


/*=====  End of Bootstrap override  ======*/

body {
    background: #F1F1F1;
    overflow: hidden;
}

#main_content_container {
    height: 100%;
    padding-top: 52px;
    position: relative;
}


/*===========================
=            Nav            =
===========================*/

#navbar-cart_view {
    padding: 8px 11px;
    a {
        padding: 7px 12px;
    }
    &-totalCost {
        font-size: 19px;
        color: #1CB91C;
        position: relative;
        top: -2px;
        &:after {
            content: ' din';
        }
    }
    &-totalCount {
        font-size: 18px;
        position: relative;
        top: -4px;
        padding-left: 2px;
        &:after {
            content: ')';
        }
        &:before {
            content: '(';
        }
    }
    &-link {
        display: inline;
        &:hover {
            color: #337AB7!important;
            .glyphicon {
                color: #337AB7!important;
            }
        }
    }
    .glyphicon {
        font-size: 23px;
        padding-top: 3px;
        color: #777;
    }
    .dropdown-toggle {
        padding: 15px 10px 15px 7px;
    }
    .mini_cart {
        &-item {
            font-size: 15px;
            padding: 3px 11px;
        }
        &-message {
            text-align: center;
            color: #FF6060;
        }
        &-name {
            font-weight: bold;
            padding-right: 32px;
        }
        &-price {
            padding-right: 5px;
            &:after {
                content: ' din';
            }
        }
        &-quantity {
            color: #1CB91C;
            &:before {
                content: '(';
            }
            &:after {
                content: ')';
            }
        }
        li {
            border-bottom: 1px solid #ECECEC;
            &:last-child {
                border: none;
            }
        }
    }
    #logout_dropdown {
        min-width: auto;
        input {
            color: #777;
            background: transparent;
            border: none;
        }
        form {
            margin-bottom: 0;
        }
    }
    #navbar-username {
        &_dropdown {
            margin-right: 11px;
        }
        &_preview {
            padding: 7px 10px 7px 12px;
            .username {
                text-transform: capitalize;
                padding-right: 4px;
                font-size: 15px;
            }
        }
    }
}


/*=====  End of Nav  ======*/

.products {
    &-item {
        border-bottom: 1px solid #F1F1F1;
        border-right: 1px solid #F1F1F1;
        padding-bottom: 11px;
        padding-top: 1px;
        background: #fff;
        max-height: 321px;
        min-height: 321px;
        overflow: hidden;
        /*-------------*/
        > h4 {
            height: 19px;
            overflow: hidden;
        }
        &:hover {
            box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.38);
            position: relative;
            z-index: 1;
        }
        &-head {
            padding-left: 14px;
            h4 {
                max-width: 56%;
                float: left;
            }
        }
        &-category {
            padding: 6px 11px 6px 11px;
            border-radius: 0 0 0 7px;
            color: #777;
            float: right;
            max-width: 44%;
            margin-bottom: 14px;
            text-align: right;
            font-weight: bold;
            text-shadow: 0 0 3px rgba(46, 109, 164, 0.29);
            box-shadow: 0 0 8px 0px rgba(51, 51, 51, 0.16);
            text-transform: uppercase;
        }
        &-text_img {
            overflow: hidden;
            height: 189px;
        }
        &-img {
            width: 54%;
            float: left;
            margin-right: 14px;
        }
        &-more {
            margin-top: 10px;
        }
        &-options {
            position: absolute;
            bottom: 10px;
            width: 100%;
            padding: 0 13px;
        }
        &-cart {
            float: right;
            margin-top: 10px;
            &-popup {
                min-width: auto;
                padding: 5px 8px;
                input {
                    min-width: 82px;
                    height: 34px;
                }
                .input-group-btn button {
                    padding: 9px 12px;
                }
            }
        }
        &-price {
            clear: both;
            text-align: right;
            width: 100%;
            margin-top: 6px;
            font-size: 23px;
            /*---*/
            &:after {
                content: ' din';
            }
        }
    }
}


/*============================
=            Cart            =
============================*/

#cart {
    &-total_box {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        &-price {
            background: white;
            float: right;
            box-shadow: 0 0 6px 1px #777777;
            border-radius: 3px 3px 0 0;
            padding: 8px 19px 10px;
            @media (max-width: 768px) {
                width: 100%;
            }
            &-value {
                font-size: 30px;
                text-align: right;
                color: #616161;
                margin-bottom: 5px;
            }
            &-options {
                text-align: right;
            }
        }
    }
}

.cart {
    &-item {
        border-bottom: 1px solid #ccc;
        padding-bottom: 16px;
        position: relative;
        &:nth-child(n+2) {
            margin-top: 20px;
        }
        /****/
        &-img {
            background-size: contain;
            background-position: top center;
            background-repeat: no-repeat;
            width: 100%;
            height: 176px;
        }
        &-heading {
            @media (min-width: 768px) {
                margin-top: 0;
            }
        }
        &-desc {
            @media (max-width: 768px) {
                padding-bottom: 78px;
            }
        }
        &-price_box {
            padding-right: 0;
        }
        &-remove_button {
            position: absolute;
            top: 0px;
            right: 15px;
            box-shadow: 0 0 41px 0 rgba(241, 241, 241, 0.74) inset;
            border-radius: 4px;
            padding: 0px 1px 2px 1px;
        }
        &-price {
            text-align: right;
            position: absolute;
            right: 15px;
            bottom: 0;
            &_total {
                font-size: 27px;
                text-align: right;
                clear: both;
                border-top: 1px solid #aaa;
                margin-top: 13px;
                color: #69B330;
                &:after {
                    content: ' din';
                }
            }
            &-value {
                font-size: 21px;
                top: 4px;
                position: relative;
                padding-right: 5px;
                /****/
                &:after {
                    content: 'x';
                    padding-left: 7px;
                    position: relative;
                    top: -1px;
                    color: #BBB;
                }
            }
            &-input {
                width: 40px;
                display: inline;
            }
            &-dropup {
                float: right;
                position: relative;
                top: 1px;
                /**/
                > button {
                    background: #fff;
                    color: #333;
                    border: 1px solid #ccc;
                }
            }
            &-popup {
                left: -122px!important;
                padding: 5px 7px;
                input {
                    height: 34px;
                }
                .input-group-btn button {
                    padding: 9px 12px;
                }
            }
        }
    }
}


/*=====  End of Cart  ======*/


/*=============================
=            Login            =
=============================*/

#login {
    &-main_box {
        height: 100%;
        overflow: auto;
        padding-top: 20px;
    }
    &-input_box {
        margin-top: 211px;
        background: #fff;
        box-shadow: 0px 2px 2px 0 #afadad;
        padding: 21px 18px 2px;
        &-username_box {
            margin-bottom: 22px;
        }
        &-register {
            text-align: center;
            padding-bottom: 4px;
        }
    }
    &-login_button {
        padding: 6px 21px;
        margin-top: 11px;
    }
}


/*----------  Register  ----------*/

#register {
    &-main_box {
        height: 100%;
        overflow: auto;
        padding-top: 20px;
    }
    &-input_box {
        margin-top: 211px;
        background: #fff;
        box-shadow: 0px 2px 2px 0 #afadad;
        padding: 21px 18px 2px;
        &-username_box {
            margin-bottom: 22px;
        }
    }
    &-register_button {
        padding: 6px 21px;
        margin-top: 11px;
    }
}


/*=====  End of Login  ======*/


/*===================================
=            Admin panel            =
===================================*/

$tableRowColor: #f5f5f5;
.admin_panel,
.stor_manager {
    &-wrapper {
        padding: 0 0 0 250px!important;
        transition: all 0.5s ease;
        &.toggled {
            padding: 0!important;
            #admin_panel-sidebar-toggle {
                &-right {
                    display: block;
                }
                &-left {
                    display: none;
                }
            }
            #admin_panel-sidebar {
                left: -250px;
            }
        }
    }
}

.admin_panel {
    &-products {
        &-delete_box {
            position: relative;
        }
        &-delete_popup {
            right: 100%;
            left: auto;
            top: -11px;
            min-width: auto;
            width: 104px;
            padding: 8px 0;
            text-align: center;
        }
    }
}

#admin_panel,
#stor_manager {
    &-content_box {
        width: 100%;
        height: 100%;
        h2 {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
    /*----------  Sidebar  ----------*/
    &-sidebar {
        position: fixed;
        background: #333;
        top: 51px;
        left: 0;
        height: 100%;
        width: 250px;
        transition: all 0.5s ease;
        &-toggle {
            font-size: 27px;
            position: absolute;
            bottom: 56px;
            right: -29px;
            cursor: pointer;
            width: 62px;
            &-left {
                transition: all 0.5s ease;
                color: #fff;
                float: left;
            }
            &-right {
                transition: all 0.5s ease;
                float: right;
                display: none;
            }
        }
        &-header {
            color: #999999;
            padding: 6px 0 0 19px;
        }
        &-nav {
            /*position: absolute;*/
            top: 0;
            width: 250px;
            margin: 0;
            padding: 0;
            list-style: none;
            .sidebar-nav_item {
                text-indent: 20px;
                line-height: 40px;
                &-link {
                    display: block;
                    text-decoration: none;
                    color: #999999;
                    &.active {
                        background: #f1f1f1!important;
                        color: #333!important;
                    }
                    &:hover {
                        text-decoration: none;
                        color: #fff;
                        background: rgba(255, 255, 255, 0.2);
                    }
                    .glyphicon {
                        margin-left: -19px;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

#admin_panel {
    &-content_box {
        &.content_box-admin_panel_products,
        &.content_box-admin_panel-users {
            padding-bottom: 6px
        }
        #categories {
            &-add-button {
                top: 0;
            }
        }
    }
    /*----------  Products  ----------*/
    &-products {
        padding: 13px 20px 0;
        tbody tr {
            background: $tableRowColor;
        }
        .admin_panel-products-col {
            &-desc {
                width: 58%;
            }
            &-edit,
            &-delete {
                vertical-align: middle;
                text-align: center;
                width: 51px;
                padding: 0 0px;
            }
        }
        .admin_panel-product-disabled {
            background: rgba(217, 83, 79, 0.08);
        }
    }
    /*----------  Categories  ----------*/
    &-categories {
        height: 100%;
        padding: 10px 6px;
        tbody tr {
            background: $tableRowColor;
        }
        &-page_size_option {
            width: 67px;
            float: right;
        }
        .categories {
            &-col {
                &-edit {
                    width: 108px;
                    text-align: right;
                }
                &-remove {
                    width: 59px;
                    text-align: right;
                }
            }
            &-item {
                &-form {
                    margin-bottom: 0;
                }
                &-name {
                    &-value {}
                    &-input {
                        width: 50%;
                        display: none;
                    }
                }
                &-edit-yes,
                &-edit-no {
                    display: none;
                }
                &-disabled {
                    background: rgba(217, 83, 79, 0.08);
                }
                /*=====  Edit mode od category name  ======*/
                &.categories-item-edit_button-edited {
                    .categories-item {
                        &-name {
                            &-value {
                                display: none;
                            }
                            &-input {
                                display: block!important;
                            }
                        }
                        &-edit_button {
                            display: none;
                        }
                        &-edit-yes,
                        &-edit-no {
                            display: inline-block;
                        }
                    }
                }
            }
            &-add {
                background: #f1f1f1;
                border-top: 2px solid #c5c5c5;
                #categories-add-button {
                    top: 0;
                }
            }
        }
        &-items {
            height: 100%;
        }
    }
    /*----------  Customers  ----------*/
    &-customers {
        padding: 13px 20px 0;
        &-page_size_option {
            width: 70px;
            float: right;
        }
        tbody tr {
            background: $tableRowColor;
            td {
                vertical-align: middle;
            }
        }
        .customers {
            &-role_name {
                text-transform: capitalize;
                &:last-child:after {
                    content: '';
                }
                &:after {
                    content: ', ';
                }
            }
            &-column {
                &-edit {
                    width: 154px;
                }
                &-delete {
                    width: 57px;
                }
            }
        }
    }
}


/**
 *
 * Edit customer modal panel
 *
 */

#customers {
    &-edit_panel {
        .customers-edit_panel-status {
            float: left;
            padding: 0 9px;
            text-align: center;
        }
    }
}


/*=====  End of Admin panel  ======*/


/*----------  General Classes  ----------*/

.page-main_box {
    height: 100%;
    padding-top: 20px;
    @media (max-width: 768px) {
        overflow: auto;
    }
}


/*----------  Utility classes  ----------*/

.vertical-middle {
    vertical-align: middle!important;
}

.clear {
    clear: both;
}

.overflow-auto {
    overflow: auto;
}

.height-100 {
    height: 100%;
}


/*==================================
=            Pagination            =
==================================*/

.pagination {
    height: 100%;
    margin: 0;
    padding: 9px 0 0;
    /**********/
    &-height {
        height: 5%!important;
    }
    &_content-height {
        height: 95%!important;
    }
    &-item {
        height: 34px;
    }
    &-separator {
        float: left;
        padding: 1px 4px;
        visibility: hidden;
    }
    &-set {
        padding-bottom: 6px;
    }
}


/*=======================================
=            Custom elements            =
=======================================*/

.d {
    &-confirm_popup {
        position: relative;
        &-popup {
            right: 100%;
            left: auto;
            top: -11px;
            min-width: auto;
            width: 104px;
            padding: 8px 0;
            text-align: center;
        }
    }
}
